@model MVC_EF_Identity.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Id" class="control-label"></label>
                <input asp-for="Movie.Id" class="form-control" />
                <span asp-validation-for="Movie.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Name" class="control-label"></label>
                <input asp-for="Movie.Name" class="form-control" />
                <span asp-validation-for="Movie.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <select asp-for="Movie.Genre" class="form-control"
                        asp-items="Html.GetEnumSelectList<Genre>()">
                    <option value="" selected="selected" disabled="disabled">
                        --Please select--
                    </option>
                </select>
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                <input asp-for="Movie.Rating" class="form-control" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                @for (int i = 0; i < Model.Actors.Count(); i++)
                {
                    <input type="hidden" asp-for="@Model.Actors[i].Text" />
                    <input type="hidden" asp-for="@Model.Actors[i].Value" />
                    <input type="checkbox" checked="@Model.Actors[i].Selected"
                           class="form-check-input" asp-for="@Model.Actors[i].Selected" />
                    <label class="control-label">@Model.Actors[i].Text</label>
                }
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
